.coaching {
  padding-block-end: 40px;

  @media (min-width: $tablet-width) {
    padding-block: 43px 51px;
  }

  @media (min-width: $desktop-width) {
    padding-block-start: 111px;
  }
}

.coaching__title {
  position: relative;
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  padding-block: 25px;
  padding-block-end: 33px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    padding-block-end: 36px;
  }
}

.coaching__title::after {
  content: attr(data-duplicate);
  position: absolute;
  left: 0;
  bottom: 46px;
  font-size: 26px;
  line-height: 26px;
  opacity: 0.03;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
    bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 55px;
  }
}

.coaching__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding-block: 25px;
  padding-block-end: 23px;

  @media (min-width: $tablet-width) {
    padding-block-end: 0;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
    padding-block-end: 27px;
  }
}

.coaching__action-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  row-gap: var(--action-points-gap);
  margin-inline-start: 6px;
  padding-inline: 24px 27px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 104px;
    column-gap: 178px;
    margin-inline-start: 0;
    padding-inline: 0;
    padding-block-start: 100px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 40px;
  }
}

.coaching__item {
  display: flex;
  position: relative;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  padding-inline-start: 33px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 243px;
    font-size: 16px;
    line-height: 24px;
    padding-inline-start: 44px;
  }
}

.coaching__item::before {
 content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: var(--couching-icon);
  background-repeat: no-repeat;
  background-size: 25px 25px;

  @media (min-width: $desktop-width) {
    left: 10px;
  }
}

.coaching__action-points:has(.coaching__item--mountains) {
  --couching-icon: url("/__spritemap#sprite-mountains-view");

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 2;
  }
}

.coaching__item--map {
 --couching-icon: url("/__spritemap#sprite-pin-map-view");
}

.coaching__item--boots {
  --couching-icon: url("/__spritemap#sprite-boots-view");
}

.coaching__item--forest {
  --couching-icon: url("/__spritemap#sprite-forest-view");
}

.coaching__item--mountains {
  --couching-icon: url("/__spritemap#sprite-mountains-view");
}

.coaching__item br{
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.coaching__text-promo {
  margin: 0;
  padding-block-end: 4px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
  }
}

.coaching__action-points {
  display: flex;
  position: relative;
}

.coaching__action-points::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--dark-blue, #0266c1);
  left: -30px;
  top: 11px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.coaching__action-points:not(:first-child):after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: calc(100% + var(--action-points-gap) - 20px);
  background-color: var(--dark-blue, #0266c1);
  box-shadow: 0px -27px 0px 0px var(--dark-blue, #0266c1);
  left: -24px;
  top: -16px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

