.hero {
  position: relative;
  width: 100vw;
  height: 568px;
  margin: auto
}

.hero__slides-list {
  @include list-reset;

}

.hero__slide {
  min-height: 568px;
  display: flex;
  align-items: center;
  background: var(--hero-slide-background) no-repeat bottom/cover;
  text-align: center;
  color: var(--base-white, #ffffff);
  width: 320px;
  height: 568px;
}

.hero__slide--сaucasus {
  --hero-slide-background: image-set("../../img/hero-slider/сaucasus-slide-mobile@1x.webp" 1x, "../../img/hero-slider/сaucasus-slide-mobile@2x.webp" 2x, "../../img/hero-slider/сaucasus-slide-mobile@1x.jpg" 1x, "../../img/hero-slider/сaucasus-slide-mobile@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    --hero-slide-background: image-set("../../img/hero-slider/сaucasus-slide-tablet@1x.webp" 1x, "../../img/hero-slider/сaucasus-slide-tablet@2x.webp" 2x, "../../img/hero-slider/сaucasus-slide-tablet@1x.jpg" 1x, "../../img/hero-slider/сaucasus-slide-tablet@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background: image-set("../../img/hero-slider/сaucasus-slide-desktop@1x.webp" 1x, "../../img/hero-slider/сaucasus-slide-desktop@2x.webp" 2x, "../../img/hero-slider/сaucasus-slide-desktop@1x.jpg" 1x, "../../img/hero-slider/сaucasus-slide-desktop@2x.jpg" 2x);
  }
}

.hero__slide--kamchatka {
  --hero-slide-background: image-set("../../img/hero-slider/kamchatka-slide-mobile@1x.webp" 1x, "../../img/hero-slider/kamchatka-slide-mobile@2x.webp" 2x, "../../img/hero-slider/kamchatka-slide-mobile@1x.jpg" 1x, "../../img/hero-slider/kamchatka-slide-mobile@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    --hero-slide-background: image-set("../../img/hero-slider/kamchatka-slide-tablet@1x.webp" 1x, "../../img/hero-slider/kamchatka-slide-tablet@2x.webp" 2x, "../../img/hero-slider/kamchatka-slide-tablet@1x.jpg" 1x, "../../img/hero-slider/kamchatka-slide-tablet@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background: image-set("../../img/hero-slider/kamchatka-slide-desktop@1x.webp" 1x, "../../img/hero-slider/kamchatka-slide-desktop@2x.webp" 2x, "../../img/hero-slider/kamchatka-slide-desktop@1x.jpg" 1x, "../../img/hero-slider/kamchatka-slide-desktop@2x.jpg" 2x);
  }
}

.hero__slide--altai {
  --hero-slide-background: image-set("../../img/hero-slider/altai-slide-mobile@1x.webp" 1x, "../../img/hero-slider/altai-slide-mobile@2x.webp" 2x, "../../img/hero-slider/altai-slide-mobile@1x.jpg" 1x, "../../img/hero-slider/altai-slide-mobile@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    --hero-slide-background: image-set("../../img/hero-slider/altai-slide-tablet@1x.webp" 1x, "../../img/hero-slider/altai-slide-tablet@2x.webp" 2x, "../../img/hero-slider/altai-slide-tablet@1x.jpg" 1x, "../../img/hero-slider/altai-slide-tablet@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background: image-set("../../img/hero-slider/altai-slide-desktop@1x.webp" 1x, "../../img/hero-slider/altai-slide-desktop@2x.webp" 2x, "../../img/hero-slider/altai-slide-desktop@1x.jpg" 1x, "../../img/hero-slider/altai-slide-desktop@2x.jpg" 2x);
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  margin-block: 0;
  padding-inline: 10px;
}

.hero__slide-title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  margin: 0;
  padding-block-end: 15px;
}

.hero__slide-description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding-block-end: 60px;
}

.hero__slide-link {
  width: fit-content;
  margin-inline: auto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: var(--dark-blue, #0266c1);
  padding: 20px 34px;
  margin-block-end: 15px;
}

.hero__slide-details {
  display: none;
}

.hero__swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 12px;

  @media (min-width: $desktop-width) {
    width: auto;
    left: auto;
    top: auto;
    bottom: 91px;
    right: 116px;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--base-white, #ffffff);

  &:hover {
    background-color: var(--soft-gray, #d9d9d9);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  &:active {
    background-color: var(--transparent-white, rgb(255, 255, 255, 0.5));
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--base-white, #ffffff);
}
