.hero {
  position: relative;
  height: auto;
  overflow: hidden;
}

.hero__slides-list {
  @include list-reset;

}

.hero__slide {
  display: flex;
  align-items: center;
  background: var(--hero-slide-background) no-repeat bottom/cover;
  text-align: center;
  color: var(--base-white, #ffffff);
  min-height: 568px;

  @media (min-width: $tablet-width) {
    min-height: 1034px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
  }
}

.hero__slide--сaucasus {
  --hero-slide-background: image-set("../img/hero-slider/сaucasus-slide-mobile@1x.webp" 1x, "../img/hero-slider/сaucasus-slide-mobile@2x.webp" 2x, "../img/hero-slider/сaucasus-slide-mobile@1x.jpg" 1x, "../img/hero-slider/сaucasus-slide-mobile@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    --hero-slide-background: image-set("../img/hero-slider/сaucasus-slide-tablet@1x.webp" 1x, "../img/hero-slider/сaucasus-slide-tablet@2x.webp" 2x, "../img/hero-slider/сaucasus-slide-tablet@1x.jpg" 1x, "../img/hero-slider/сaucasus-slide-tablet@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background: image-set("../img/hero-slider/сaucasus-slide-desktop@1x.webp" 1x, "../img/hero-slider/сaucasus-slide-desktop@2x.webp" 2x, "../img/hero-slider/сaucasus-slide-desktop@1x.jpg" 1x, "../img/hero-slider/сaucasus-slide-desktop@2x.jpg" 2x);
  }
}

.hero__slide--kamchatka {
  flex-direction: column;
  justify-content: center;

  &::after {
    content: "";
    display: none;
  }

  --hero-slide-background: image-set("../img/hero-slider/kamchatka-slide-mobile@1x.webp" 1x, "../img/hero-slider/kamchatka-slide-mobile@2x.webp" 2x, "../img/hero-slider/kamchatka-slide-mobile@1x.jpg" 1x, "../img/hero-slider/kamchatka-slide-mobile@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    --hero-slide-background: image-set("../img/hero-slider/kamchatka-slide-tablet@1x.webp" 1x, "../img/hero-slider/kamchatka-slide-tablet@2x.webp" 2x, "../img/hero-slider/kamchatka-slide-tablet@1x.jpg" 1x, "../img/hero-slider/kamchatka-slide-tablet@2x.jpg" 2x);

    --additionalcontent: image-set("../img/hero-slider/photo-cards-tablet@1x.webp" 1x, "../img/hero-slider/photo-cards-tablet@2x.webp" 2x, "../img/hero-slider/photo-cards-tablet@1x.png" 1x, "../img/hero-slider/photo-cards-tablet@2x.png" 2x);
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background: image-set("../img/hero-slider/kamchatka-slide-desktop@1x.webp" 1x, "../img/hero-slider/kamchatka-slide-desktop@2x.webp" 2x, "../img/hero-slider/kamchatka-slide-desktop@1x.jpg" 1x, "../img/hero-slider/kamchatka-slide-desktop@2x.jpg" 2x);
  }
}

.hero__slide--kamchatka::after {
  @media (min-width: $tablet-width) {
    display: block;
    width: 443px;
    height: 365px;
    background: image-set("../img/hero-slider/photo-cards-tablet@1x.webp" 1x, "../img/hero-slider/photo-cards-tablet@2x.webp" 2x, "../img/hero-slider/photo-cards-tablet@1x.png" 1x, "../img/hero-slider/photo-cards-tablet@2x.png" 2x) no-repeat bottom / cover;
  }
}

.hero__slide--altai {
  --hero-slide-background: image-set("../img/hero-slider/altai-slide-mobile@1x.webp" 1x, "../img/hero-slider/altai-slide-mobile@2x.webp" 2x, "../img/hero-slider/altai-slide-mobile@1x.jpg" 1x, "../img/hero-slider/altai-slide-mobile@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    --hero-slide-background: image-set("../img/hero-slider/altai-slide-tablet@1x.webp" 1x, "../img/hero-slider/altai-slide-tablet@2x.webp" 2x, "../img/hero-slider/altai-slide-tablet@1x.jpg" 1x, "../img/hero-slider/altai-slide-tablet@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    --hero-slide-background: image-set("../img/hero-slider/altai-slide-desktop@1x.webp" 1x, "../img/hero-slider/altai-slide-desktop@2x.webp" 2x, "../img/hero-slider/altai-slide-desktop@1x.jpg" 1x, "../img/hero-slider/altai-slide-desktop@2x.jpg" 2x);
  }
}

.hero__inner {
  display: flex;
  flex-direction: column;
  margin-block: 0;

  @media (min-width: $desktop-width) {
    width: 780px;
    grid-column: 1/2;
  }
}

.hero__slide-title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  margin: 0;
  padding-block-end: 15px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }
}

.hero__slide-description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  padding-block-end: 60px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
    padding-inline: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-inline-start: 0;
  }
}

.hero__slide-link {
  width: fit-content;
  margin-inline: auto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: var(--dark-blue, #0266c1);
  padding: 20px 34px;
  margin-block-end: 15px;

  @media (min-width: $desktop-width) {
    margin-inline: 0;
  }
}

.hero__slide-details {
  display: none;

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    column-gap: 10px;
    padding-block-start: 98px;
  }
}

.hero__swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 12px;

  @media (min-width: $desktop-width) {
    justify-content: end;
    padding-inline-end: 120px;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--base-white, #ffffff);

  &:hover {
    background-color: var(--soft-gray, #d9d9d9);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  &:active {
    background-color: var(--transparent-white, rgb(255, 255, 255, 0.5));
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--base-white, #ffffff);
}

.hero__slide-period,
.hero__slide-category {
  color: var(--base-white, #ffffff);
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  padding-block: 13px;
  padding-inline: 40px 19px;
  position: relative;
}

.hero__slide-period::before,
.hero__slide-category::before {
  content: "";
  display: block;
  position: absolute;
  left: 19px;
  width: 12px;
  height: 12px;
}

.hero__slide-period::before {
  mask-image: url("/__spritemap#sprite-moon-view");
  background-color: var(--base-white, #ffffff);
  mask-repeat: no-repeat;
}

.hero__slide-category::before {
  mask-image: url("/__spritemap#sprite-level-view");
  background-color: var(--base-white, #ffffff);
  mask-repeat: no-repeat;
}

.hero__slide-link:hover {
  color: var(--nuvy-blue, #1c3374);
  outline: 1px solid var(--nuvy-blue, #1c3374);
  background-color: var(--base-white, #ffffff);
}

.hero__slide-link:focus,
.hero__slide-link:focus-visible {
  outline: none;
  color: var(--nuvy-blue, #1c3374);
  background-color: var(--base-white, #ffffff);
}

.hero__slide-link:active {
  outline: none;
  color: var(--base-white, #ffffff);
  background-color: var(--nuvy-blue, #1c3374);
}

.hero__slide-link.disabled {
  background-color: var(--disabled, #999999);
  pointer-events: none;
}
