.hero {
  width: 100vw;
  min-width: 320px;
  position: relative;
}

.hero__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  padding-inline: 10px;
  padding-block-end: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-inline: 12px;
    padding-block-end: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 120px;
    padding-block-start: 200px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    align-items: end;
    align-content: start;
    row-gap: 23px;
  }
}

.hero__slide-title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: var(--base-white, #ffffff);
  margin: 0;
  padding-block-end: 15px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop-width) {
    font-size: 77px;
    line-height: 77px;
    padding-block: 0;

  }
}

.hero__slide-description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: var(--base-white, #ffffff);
  margin: 0;
  padding-block-end: 60px;

  @media (min-width: $tablet-width) {
    padding-inline: 110px;
    font-size: 17px;
    line-height: 24px;
    padding-block-end: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-inline-start: 0;
    padding-inline-end: 300px;
    grid-column: 1;
    grid-row: 2;
    padding-block-end: 15px;
  }
}

.hero__slide-link {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--base-white, #ffffff);
  margin: 0;
  background-color: var(--dark-blue, #0266c1);
  padding: 20px 34px;
  width: 180px;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 3;
  }
}

.hero__slide-details {
  display: none;

  @media (min-width: $desktop-width) {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    column-gap: 10px;
    padding-block-start: 98px;
  }
}

.hero__slide--2::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 442px;
    height: 362px;
    background-image: image-set("../img/photo-cards-tablet@1x.webp" 1x, "../img/photo-cards-tablet@2x.webp" 2x, "../img/photo-cards-tablet@1x.png" 1x, "../img/photo-cards-tablet@2x.png" 2x);
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    height: 459px;
    background-image: image-set("../img/photo-cards-desktop@1x.webp" 1x, "../img/photo-cards-desktop@2x.webp" 2x, "../img/photo-cards-desktop@1x" 1x, "../img/photo-cards-desktop@2x.png" 2x);
    grid-column: 2/3;
    grid-row: 1/5;
    align-self: start;
  }
}

.hero__slide-period,
.hero__slide-category {
  color: var(--base-white, #ffffff);
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  padding-block: 13px;
  padding-inline: 40px 19px;
  position: relative;
}

.hero__slide-period::before,
.hero__slide-category::before {
  content: "";
  display: block;
  position: absolute;
  left: 19px;
  width: 12px;
  height: 12px;
}

.hero__slide-period::before {
  mask-image: url("/__spritemap#sprite-moon-view");
  background-color: var(--base-white, #ffffff);
  mask-repeat: no-repeat;
}

.hero__slide-category::before {
  mask-image: url("/__spritemap#sprite-level-view");
  background-color: var(--base-white, #ffffff);
  mask-repeat: no-repeat;
}

.hero__slide-link:hover {
  color: var(--nuvy-blue, #1c3374);
  outline: 1px solid var(--nuvy-blue, #1c3374);
  background-color: var(--base-white, #ffffff);
}

.hero__slide-link:focus,
.hero__slide-link:focus-visible {
  outline: none;
  color: var(--nuvy-blue, #1c3374);
  background-color: var(--base-white, #ffffff);
}

.hero__slide-link:active {
  outline: none;
  color: var(--base-white, #ffffff);
  background-color: var(--nuvy-blue, #1c3374);
}

.hero__slide-link.disabled {
  background-color: var(--disabled, #999999);
  pointer-events: none;
}

.hero__slide {
  background: no-repeat center/cover;
  min-height: 568px;

  @media (min-width: $tablet-width) {
    min-height: 1034px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero__slide--1 {
  background-image: image-set("../img/header-mobile-slide-1@1x.webp" 1x, " ../img/header-mobile-slide-1@2x.webp" 2x, "../img/header-mobile-slide-1@1x.jpg" 1x, "../img/header-mobile-slide-1@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-1@1x.webp" 1x, "../img/header-tablet-slide-1@2x.webp" 2x, "../img/header-tablet-slide-1@1x.jpg" 1x, "../img/header-tablet-slide-1@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-1@1x.webp" 1x, "../img/header-desktop-slide-1@2x.webp" 2x, "../img/header-desktop-slide-1@1x.jpg" 1x, "../img/header-desktop-slide-1@2x.jpg" 2x);
  }
}

.hero__slide--2 {
  background-image: image-set("../img/header-mobile-slide-2@1x.webp" 1x, "../img/header-mobile-slide-2@2x.webp" 2x, "../img/header-mobile-slide-2@1x.jpg" 1x, "../img/header-mobile-slide-2@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-2@1x.webp" 1x, "../img/header-tablet-slide-2@2x.webp" 2x, "../img/header-tablet-slide-2@1x.jpg" 1x, "../img/header-tablet-slide-2@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-2@1x.webp" 1x, "../img/header-desktop-slide-2@2x.webp" 2x, "../img/header-desktop-slide-2@1x.jpg" 1x, "../img/header-desktop-slide-2@2x.jpg" 2x);
  }
}

.hero__slide--3 {
  background-image: image-set("../img/header-mobile-slide-3@1x.webp" 1x, "../img/header-mobile-slide-3@2x.webp" 2x, "../img/header-mobile-slide-3@1x.jpg" 1x, "../img/header-mobile-slide-3@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-3@1x.webp" 1x, "../img/header-tablet-slide-3@2x.webp" 2x, "../img/header-tablet-slide-3@1x.jpg" 1x, "../img/header-tablet-slide-3@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-3@1x.webp" 1x, "../img/header-desktop-slide-3@2x.webp" 2x, "../img/header-desktop-slide-3@1x.jpg" 1x, "../img/header-desktop-slide-3@2x.jpg" 2x);
  }
}

.hero__swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 12px;

  @media (min-width: $desktop-width) {
    width: auto;
    left: auto;
    top: auto;
    bottom: 91px;
    right: 116px;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--base-white, #ffffff);

  &:hover {
    background-color: var(--soft-gray, #d9d9d9);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  &:active {
    background-color: var(--transparent-white, rgb(255, 255, 255, 0.5));
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--base-white, #ffffff);
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}
