.hero {
  width: 100vw;
  min-width: 320px;
}

.hero .hero__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-inline: auto;
  padding-inline: 10px;
  padding-block-end: 15px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin-inline: auto;
    margin-block-start: 342px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    width: 944px;
    margin-inline-end: 0;
    margin-inline-start: 120px;
    margin-block-start: 200px;
    align-items: start;
    text-align: left;
  }
}

// .swiper__slide--2 .swiper__slide-content {
//   @media (min-width: $tablet-width) {
//     width: 678px;
//     margin-inline: auto;
//     margin-block-start: 137px;
//   }

//   @media (min-width: $desktop-width) {
//     display: grid;
//     grid-template-columns: repeat(3, auto);
//     grid-template-rows: repeat(4, auto);
//     width: 944px;
//     margin-inline-end: 0;
//     margin-inline-start: 120px;
//     margin-block-start: 200px;
//     align-items: start;
//     text-align: left;
//   }
// }

// .swiper__slide-content--additional {
//   @media (min-width: $tablet-width) {
//     &::before,
//     &::after {
//       content: "";
//       display: block;
//       position: absolute;
//     }
//   }
// }

// .swiper__slide-content--additional::after {
//   width: 236px;
//   height: 312px;
//   background-image: image-set("../img/photo-tablet-2@1x.webp" 1x, "../img/photo-tablet-2@2x.webp" 2x, "../img/photo-tablet-2@1x.png" 1x, "../img/photo-tablet-2@2x.png" 2x);
//   top: 388px;
//   left: 324px;

//   @media (min-width: $desktop-width) {
//     width: 277px;
//     height: 366px;
//     background-image: image-set("../img/photo-desktop-2@1x.webp" 1x, "../img/photo-desktop-2@2x.webp" 2x, "../img/photo-desktop-2@1x.png" 1x, "../img/photo-desktop-2@2x.png" 2x);
//     top: 80px;
//     left: 923px;
//   }
// }

// .swiper__slide-content--additional::before {
//   width: 266px;
//   height: 351px;
//   background-image: image-set("../img/photo-tablet-1@1x.webp" 1x, "../img/photo-tablet-1@2x.webp" 2x, "../img/photo-tablet-1@1x.png" 1x, "../img/photo-tablet-1@2x.png" 2x);
//   top: 335px;
//   left: 118px;

//   @media (min-width: $desktop-width) {
//     width: 308px;
//     height: 407px;
//     background-image: image-set("../img/photo-desktop-1@1x.webp" 1x, "../img/photo-desktop-1@2x.webp" 2x, "../img/photo-desktop-1@1x.png" 1x, "../img/photo-desktop-1@2x.png" 2x);
//     top: -13px;
//     left: 790px;
//   }
// }

.hero__slide-details {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 10px;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.hero__slide-period,
.hero__slide-category {
  color: var(--base-white, #ffffff);
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  padding-block: 13px;
  padding-inline: 40px 19px;
  position: relative;
}

.hero__slide-period::before,
.hero__slide-category::before {
  content: "";
  display: block;
  position: absolute;
  left: 19px;
  width: 12px;
  height: 12px;
}

.hero__slide-period::before {
  mask-image: url("/__spritemap#sprite-moon-view");
  background-color: var(--base-white, #ffffff);
  mask-repeat: no-repeat;
}

.hero__slide-category::before {
  mask-image: url("/__spritemap#sprite-level-view");
  background-color: var(--base-white, #ffffff);
  mask-repeat: no-repeat;
}

.hero__slide-title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: var(--base-white, #ffffff);
  margin: 0;
  padding-block-end: 15px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 77px;
    line-height: 77px;
    padding-block-end: 23px;
  }
}

.hero__slide-description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: var(--base-white, #ffffff);
  margin: 0;
  padding-block-end: 60px;

  @media (min-width: $tablet-width) {
    padding-inline: 82px;
    font-size: 17px;
    line-height: 24px;
    padding-block-end: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-block-end: 36px;
    padding-inline-start: 0;
    padding-inline-end: 348px;
  }
}

.hero__slide-link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--base-white, #ffffff);
  margin: 0;
  background-color: var(--dark-blue, #0266c1);
  padding: 20px 34px;
  width: 180px;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-block-end: 134px;
  }
}

.hero__slide-link:hover {
  color: var(--nuvy-blue, #1c3374);
  outline: 1px solid var(--nuvy-blue, #1c3374);
  background-color: var(--base-white, #ffffff);
}

.hero__slide-link:focus,
.hero__slide-link:focus-visible {
  outline: none;
  color: var(--nuvy-blue, #1c3374);
  background-color: var(--base-white, #ffffff);
}

.hero__slide-link:active {
  outline: none;
  color: var(--base-white, #ffffff);
  background-color: var(--nuvy-blue, #1c3374);
}

.hero__slide-link.disabled {
  background-color: var(--disabled, #999999);
  pointer-events: none;
}

.hero__slide {
  background: no-repeat center/cover;
  min-height: 568px;

  @media (min-width: $tablet-width) {
    min-height: 1034px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero__slide--1 {
  background-image: image-set("../img/header-mobile-slide-1@1x.webp" 1x, " ../img/header-mobile-slide-1@2x.webp" 2x, "../img/header-mobile-slide-1@1x.jpg" 1x, "../img/header-mobile-slide-1@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-1@1x.webp" 1x, "../img/header-tablet-slide-1@2x.webp" 2x, "../img/header-tablet-slide-1@1x.jpg" 1x, "../img/header-tablet-slide-1@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-1@1x.webp" 1x, "../img/header-desktop-slide-1@2x.webp" 2x, "../img/header-desktop-slide-1@1x.jpg" 1x, "../img/header-desktop-slide-1@2x.jpg" 2x);
  }
}

.hero__slide--2 {
  background-image: image-set("../img/header-mobile-slide-2@1x.webp" 1x, "../img/header-mobile-slide-2@2x.webp" 2x, "../img/header-mobile-slide-2@1x.jpg" 1x, "../img/header-mobile-slide-2@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-2@1x.webp" 1x, "../img/header-tablet-slide-2@2x.webp" 2x, "../img/header-tablet-slide-2@1x.jpg" 1x, "../img/header-tablet-slide-2@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-2@1x.webp" 1x, "../img/header-desktop-slide-2@2x.webp" 2x, "../img/header-desktop-slide-2@1x.jpg" 1x, "../img/header-desktop-slide-2@2x.jpg" 2x);
  }
}

.hero__slide--3 {
  background-image: image-set("../img/header-mobile-slide-3@1x.webp" 1x, "../img/header-mobile-slide-3@2x.webp" 2x, "../img/header-mobile-slide-3@1x.jpg" 1x, "../img/header-mobile-slide-3@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-3@1x.webp" 1x, "../img/header-tablet-slide-3@2x.webp" 2x, "../img/header-tablet-slide-3@1x.jpg" 1x, "../img/header-tablet-slide-3@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-3@1x.webp" 1x, "../img/header-desktop-slide-3@2x.webp" 2x, "../img/header-desktop-slide-3@1x.jpg" 1x, "../img/header-desktop-slide-3@2x.jpg" 2x);
  }
}

.hero .hero__swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: auto;
    left: auto;
    top: auto;
    bottom: 91px;
    right: 116px;
  }
}

.swiper__pagination .swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--base-white, #ffffff);

  &:hover {
    background-color: var(--soft-gray, #d9d9d9);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  &:active {
    background-color: var(--transparent-white, rgb(255, 255, 255, 0.5));
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.swiper__pagination .swiper-pagination-bullet-active {
  background-color: var(--base-white, #ffffff);
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}
