.instructors {
  position: relative;
}

.instructors__title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  padding-block: 25px;
}

.instructors__list {
  @include list-reset;
  display: flex;
}

.instructors__card {
  height: auto;
  display: grid;
  background-color: var(--base-white, #ffffff);
  grid-template-columns: repeat(2, auto);
  padding: 15px;
  box-shadow: inset 0 0 0 1px rgba(2, 102, 193, 0.102);
  column-gap: 25px;
  row-gap: 15px;
}

.instructors__name {
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  grid-row: 2;
  grid-column: 1/2;
}

.instructors__photo-container {
  display: contents;
}

.instructors__photo {
  object-fit: cover;
  grid-row: 1;
  grid-column: 1/3;
}

.instructors__item-text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  grid-row: 3;
  grid-column: 1/3;
}

.instructors__link {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  width: 24px;
  height: 24px;
  order: 2;
  grid-row: 2;
  grid-column: 2/3;
  box-shadow: inset 0 0 0 1px rgba(45, 56, 63, 0.3);

  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-vk-view");
    mask-repeat: no-repeat;
    background-color: var(--dark-gray, #2d383f);
  }
}

.instructors__button-prev {
  right: 41px;
  top: 25px;

  &::before {
    content: "";
    display: block;
    width: 13px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--base-white, #ffffff);
  }
}

.instructors__button-next {
  right: 0;
  top: 25px;

  &::before {
    content: "";
    display: block;
    width: 13px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--base-white, #ffffff);
    transform: rotateZ(180deg) translateY(1px);
  }
}
