.nav-menu {
  @include list-reset;
  z-index: 3;
}

.nav-menu__link {
  @include link-reset;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--base-white, #ffffff);
}
