.nav {
  width: 290px;
  margin: auto;
  display: grid;
  justify-content: space-between;
  row-gap: 16px;
}

.nav__btn-burger {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 26px;
  padding: 0;
  position: relative;
}

.nav__logo {
  grid-area: 1/2;
}

.nav__contact {
  @include link-reset;
  font-weight: 600;
  line-height: 14px;
  color: var(--base-white, #ffffff);
  text-align: end;
  grid-area: 2/2;
}

.nav--menu-is-close {
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);

  .nav__main-menu {
    display: none;
  }

  .nav__btn-burger{

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 26px;
      height: 2px;
      background-color: transparent;
      box-shadow: 0 8px 0 0 var(--base-white, #ffffff), 0 -9px 0 0 var(--base-white, #ffffff);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 17px;
      height: 2px;
      top: 12px;
      background-color: var(--base-white, #ffffff);
    }
  }
}

.nav--menu-is-open {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);

  .nav__menu-container {
    position: absolute;
    display: flex;
    width: 100%;
    top: 103px;
    justify-content: center;
    background-color: var(--dark-blue, #0266c1);
  }

  .nav__main-menu {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    padding-block-start: 9px;
    padding-block-end: 50px;
    padding-inline-start: 15px;
    width: 290px;
  }

  .nav__btn-burger{

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 26px;
      height: 2px;
      background-color: transparent;
      box-shadow: 0 8px 0 0 var(--base-white, #ffffff), 0 -9px 0 0 var(--base-white, #ffffff);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 17px;
      height: 2px;
      top: 12px;
      background-color: var(--base-white, #ffffff);
    }
  }
}
