.page {
  height: 100vh;
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  color: var(--dark-gray, #2d383f);
  font-size: 14px;
  line-height: 20px;
  overflow-x: hidden;
}

.page__body {
  min-width: max-content;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page__body.lock {
  overflow: hidden;
  height: 100%;
}
