.swiper {
  width: 100vw;
  min-width: 320px;
}

.swiper__slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 290px;
  margin-inline: auto;
  margin-block-start: 145px;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin-inline: auto;
    margin-block-start: 342px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    width: 944px;
    margin-inline-end: 0;
    margin-inline-start: 120px;
    margin-block-start: 200px;
    align-items: start;
    text-align: left;
  }
}

.swiper__slide-details {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 10px;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.swiper__slide-period,
.swiper__slide-category {
  color: var(--base-white, #ffffff);
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  padding-block:13px;
  padding-inline: 40px 19px;
  position: relative;
}

.swiper__slide-period::before,
.swiper__slide-category::before{
  content: "";
  display: block;
  position: absolute;
  left: 19px;
  width: 12px;
  height: 12px;
}

.swiper__slide-period::before {
  mask-image: url("/__spritemap#sprite-moon-view");
   background-color: var(--base-white, #ffffff);
  mask-repeat: no-repeat;
}

.swiper__slide-category::before{
  mask-image: url("/__spritemap#sprite-level-view");
  background-color: var(--base-white, #ffffff);
  mask-repeat: no-repeat;
}
.swiper__title {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  color: var(--base-white, #ffffff);
  margin: 0;
  padding-block-end: 15px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 77px;
    line-height: 77px;
    padding-block-end: 25px;
  }
}

.swiper__description {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: var(--base-white, #ffffff);
  margin: 0;
  padding-block-end: 60px;

  @media (min-width: $tablet-width) {
    padding-inline: 82px;
    font-size: 17px;
    line-height: 24px;
    padding-block-end: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-inline-start: 0;
    padding-inline-end: 356px;
  }
}

.swiper__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: var(--base-white, #ffffff);
  margin: 0;
  background-color: var(--dark-blue, #0266c1);
  padding: 20px 34px;
  width: 180px;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-block-end: 134px;
  }
}

.swiper__link:hover {
  color: var(--nuvy-blue, #1c3374);
  outline: 1px solid var(--nuvy-blue,#1c3374);
  background-color: var(--base-white, #ffffff);
}

.swiper__link:focus,
.swiper__link:focus-visible {
  outline: none;
  color: var(--nuvy-blue,#1c3374);
  background-color: var(--base-white, #ffffff);
}

.swiper__link:active {
  outline: none;
  color: var(--base-white, #ffffff);
  background-color: var(--nuvy-blue,#1c3374);
}

.swiper__link.disabled {
  background-color: var(--disabled, #999999);
  pointer-events: none;
}

.swiper__slide {
  background: no-repeat center/cover;
  min-height: 568px;

  @media (min-width: $tablet-width) {
    min-height: 1034px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.swiper__slide--1 {
  background-image: image-set("../img/header-mobile-slide-1@1x.webp" 1x, " ../img/header-mobile-slide-1@2x.webp" 2x, "../img/header-mobile-slide-1@1x.jpg" 1x, "../img/header-mobile-slide-1@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-1@1x.webp" 1x, "../img/header-tablet-slide-1@2x.webp" 2x, "../img/header-tablet-slide-1@1x.jpg" 1x, "../img/header-tablet-slide-1@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-1@1x.webp" 1x, "../img/header-desktop-slide-1@2x.webp" 2x, "../img/header-desktop-slide-1@1x.jpg" 1x, "../img/header-desktop-slide-1@2x.jpg" 2x);
  }
}

.swiper__slide--2 {
  background-image: image-set("../img/header-mobile-slide-2@1x.webp" 1x, "../img/header-mobile-slide-2@2x.webp" 2x, "../img/header-mobile-slide-2@1x.jpg" 1x, "../img/header-mobile-slide-2@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-2@1x.webp" 1x, "../img/header-tablet-slide-2@2x.webp" 2x, "../img/header-tablet-slide-2@1x.jpg" 1x, "../img/header-tablet-slide-2@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-2@1x.webp" 1x, "../img/header-desktop-slide-2@2x.webp" 2x, "../img/header-desktop-slide-2@1x.jpg" 1x, "../img/header-desktop-slide-2@2x.jpg" 2x);
  }
}

.swiper__slide--3 {
  background-image: image-set("../img/header-mobile-slide-3@1x.webp" 1x, "../img/header-mobile-slide-3@2x.webp" 2x, "../img/header-mobile-slide-3@1x.jpg" 1x, "../img/header-mobile-slide-3@2x.jpg" 2x);

  @media (min-width: $tablet-width) {
    background-image: image-set("../img/header-tablet-slide-3@1x.webp" 1x, "../img/header-tablet-slide-3@2x.webp" 2x, "../img/header-tablet-slide-3@1x.jpg" 1x, "../img/header-tablet-slide-3@2x.jpg" 2x);
  }

  @media (min-width: $desktop-width) {
    background-image: image-set("../img/header-desktop-slide-3@1x.webp" 1x, "../img/header-desktop-slide-3@2x.webp" 2x, "../img/header-desktop-slide-3@1x.jpg" 1x, "../img/header-desktop-slide-3@2x.jpg" 2x);
  }
}

.main .swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: auto;
    left: auto;
    top: auto;
    bottom: 91px;
    right: 116px;
  }
}

.swiper__pagination .swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid var(--base-white, #ffffff);

  &:hover {
    background-color: var(--soft-gray, #d9d9d9);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }

  &:active {
    background-color: var(--transparent-white, rgba(255, 255, 255, 0.5));
}

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.swiper__pagination .swiper-pagination-bullet-active {
  background-color: var(--base-white, #ffffff);
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}
