.swiper__wrapper {
  width: 100%;
}

.swiper__slide {
  height: 100%;
  background-size: cover;
  background-position: center;
  min-height: 568px;
}

.swiper__slide--1 {
  background-image: image-set("../img/header-mobile-slide-1@1x.webp" 1x," ../img/header-mobile-slide-1@2x.webp" 2x, "../img/header-mobile-slide-1@1x.jpg" 1x, "../img/header-mobile-slide-1@2x.jpg" 2x);
}

.swiper__slide--2 {
  background-image: image-set("../img/header-mobile-slide-2@1x.webp" 1x," ../img/header-mobile-slide-2@2x.webp" 2x, "../img/header-mobile-slide-2@1x.jpg" 1x, "../img/header-mobile-slide-1@2x.jpg" 2x);
}

.swiper__slide--3 {
  background-image: image-set("../img/header-mobile-slide-3@1x.webp" 1x," ../img/header-mobile-slide-3@2x.webp" 2x, "../img/header-mobile-slide-3@1x.jpg" 1x, "../img/header-mobile-slide-1@2x.jpg" 2x);
}
