.tours {
  position: relative;
}

.tours__cotnainer {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-block-start: 39px;

  @media (min-width: $tablet-width) {
    padding-block-start: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-block-start: 100px;
  }
}

.tours__title {
  position: relative;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  padding-block-end: 39px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    padding-block-end: 35px;
  }
}

.tours__title::after {
  content: attr(data-duplicate);
  position: absolute;
  left: 0;
  bottom: 52px;
  font-size: 26px;
  line-height: 26px;
  opacity: 0.03;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
    bottom: 40px;
  }
}

.tours__show-more {
  @include link-reset;

  position: relative;
  display: flex;
  column-gap: 12px;
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-gray, #2d383f);
  padding-block: 10px;
  padding-inline: 10px 28px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-right-view");
    mask-repeat: no-repeat;
    mask-size: 14px 14px;
    background-color: var(--dark-gray, #2d383f);
    right: 45px;
    bottom: 10px;
  }
}

.tours__button .swiper-navigation-icon {
  display: none;
}

.tours__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 37px;
    height: 35px;
    border: none;
    padding: 0;
    background-color: var(--dark-blue, #0266c1);
    color: var(--dark-blue, #0266c1);
  }

  @media (min-width: $desktop-width) {
    //
  }
}

.tours__button:disabled{
  background-color: var(--disabled, #999999);
  color: var(--disabled, #999999);
}

.tours__button-prev {
  right: 41px;

    &::before {
    content: "";
    display: block;
    width: 13px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--base-white, #ffffff);
  }
}

.tours__button-next {
  right: 0;

  &::before {
    content: "";
    display: block;
    width: 13px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--base-white, #ffffff);
    transform: rotateZ(180deg) translateY(1px);
  }
}
