.tours {
  position: relative;
}

.tours::before {
  content: "";
  display: block;
  position: absolute;
  width: 141px;
  height: 595px;
  right: 0;
  top: 10px;
  background: image-set("../img/tours-slider/clouds-background-mobile-1@1x.webp" 1x, " ../img/tours-slider/clouds-background-mobile-1@2x.webp" 2x, "../img/tours-slider/clouds-background-mobile-1@1x.png" 1x, "../img/tours-slider/clouds-background-mobile-1@2x.png" 2x);

  @media (min-width: $tablet-width) {
    background: image-set("../img/tours-slider/tours-slider/clouds-background-tablet-1@1x.webp" 1x, " ../img/tours-slider/clouds-background-tablet-1@2x.webp" 2x, "../img/tours-slider/clouds-background-tablet-1@1x.png" 1x, "../img/tours-slider/clouds-background-tablet-1@2x.png" 2x);
    top: -92px;
    right: 0;
    width: 425px;
    height: 1630px;
  }

  @media (min-width: $desktop-width) {
    background: image-set("../img/tours-slider/tours-slider/clouds-background-desktop-1@1x.webp" 1x, " ../img/tours-slider/clouds-background-desktop-1@2x.webp" 2x, "../img/tours-slider/clouds-background-desktop-1@1x.png" 1x, "../img/tours-slider/clouds-background-desktop-1@2x.png" 2x);
    top: -126px;
    right: 0;
    width: 602px;
    height: 1630px;
  }
}

.tours__cotnainer {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-block: 39px 35px;

  @media (min-width: $tablet-width) {
    padding-block-start: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-block-start: 120px;
  }
}

.tours__title {
  position: relative;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  padding-block-end: 39px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    padding-block-end: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    padding-block-end: 53px;
  }
}

.tours__title::after {
  content: attr(data-duplicate);
  position: absolute;
  left: 0;
  bottom: 52px;
  font-size: 26px;
  line-height: 26px;
  opacity: 0.03;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
    bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 55px;
    bottom: 32px;
  }
}

.tours__show-more {
  @include link-reset;

  position: relative;
  display: flex;
  column-gap: 12px;
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-gray, #2d383f);
  padding-block: 6px;
  padding-inline: 5px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-right-view");
    mask-repeat: no-repeat;
    mask-size: 14px 14px;
    background-color: var(--dark-gray, #2d383f);
    right: 45px;
    bottom: 10px;
  }
}

.tours__button-prev {
  right: 41px;

    &::before {
    content: "";
    display: block;
    width: 13px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--base-white, #ffffff);
  }
}

.tours__button-next {
  right: 0;

  &::before {
    content: "";
    display: block;
    width: 13px;
    height: 8px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--base-white, #ffffff);
    transform: rotateZ(180deg) translateY(1px);
  }
}
