.tours__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding-block-start: 39px;
  color: var(--base-white, #ffffff);
}

.tours__cotnainer {
  padding-block-start: 39px;

  @media (min-width: $tablet-width){
    padding-block-start: 60px;
  }

  @media (min-width: $desktop-width){
    padding-block-start: 100px;
  }
}

.tours__title-container {
  position: relative;
  display: flex;
}

.tours__title {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  position: relative;
  z-index: 2;
}

.tours__title-duplicate {
  position: absolute;
  z-index: 1;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  bottom: 11px;
  opacity: 0.3;
}

.tours__list-card {
  width: 300px;
  height: 416px;
  display: flex;
}

.tours__list-card:nth-child(1) {
  background-image: image-set("../img/card-tour-elbrus-mobile@1x.webp" 1x, " ../img/card-tour-elbrus-mobile@2x.webp" 2x, "../img/card-tour-elbrus-mobile@1x.jpg" 1x, "../img/card-tour-elbrus-mobile@2x.jpg" 2x);
}

.tours__list-card:nth-child(2) {
  background-image: image-set("../img/card-tour-belukha-mobile@1x.webp" 1x, " ../img/card-tour-belukha-mobile@2x.webp" 2x, "../img/card-tour-belukha-mobile@1x.jpg" 1x, "../img/card-tour-belukha-mobile@2x.jpg" 2x);
}

.tours__list-card:nth-child(3) {
  background-image: image-set("../img/card-tour-fisht-mobile@1x.webp" 1x, " ../img/card-tour-fisht-mobile@2x.webp" 2x, "../img/card-tour-fisht-mobile@1x.jpg" 1x, "../img/card-tour-fisht-mobile@2x.jpg" 2x);
}

.tours__list-card:nth-child(4) {
  background-image: image-set("../img/card-tour-manaraga-mobile@1x.webp" 1x, " ../img/card-tour-manaraga-mobile@2x.webp" 2x, "../img/card-tour-manaraga-mobile@1x.jpg" 1x, "../img/card-tour-manaraga-mobile@2x.jpg" 2x);
}

.tours__list-card-content {
  padding-inline: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);

}

.tours__list-card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  grid-row: 2/3;
  grid-column: 1/4;
}

.tours__list-info {
  @include list-reset;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  grid-row: 1;
  grid-column: 1/4;
}

.tours__details {
  display: flex;
  grid-row: 3/4;
  grid-column: 1/4;
}

.tours__details-container {
  display: flex;
  flex-direction: column;
}

.tours__details-level + dd {
  margin: 0;
}
