.tours {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 141px;
    height: 595px;
    right: 0;
    top: 10px;
    background-image: image-set("../img/clouds-background-mobile-1@1x.webp" 1x, " ../img/clouds-background-mobile-1@2x.webp" 2x, "../img/clouds-background-mobile-1@1x.png" 1x, "../img/clouds-background-mobile-1@2x.png" 2x);
    background-size: 100%;
    z-index: -1;
  }
}

.tours__cotnainer {
  display: flex;
  flex-direction: column;
  padding-block-start: 39px;

  @media (min-width: $tablet-width) {
    padding-block-start: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-block-start: 100px;
  }
}

.tours__title {
  position: relative;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
  margin: 0;
  padding-block-end: 39px;
}

.tours__title::after {
  content: attr(data-duplicate);
  position: absolute;
  left: 0;
  bottom: 52px;
  font-size: 26px;
  line-height: 26px;
  opacity: 0.03;
}

.tours__show-more {
  @include link-reset;

  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark-gray, #2d383f);
  padding-block: 10px;
  padding-inline: 10px 28px;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-right-view");
    mask-position: center center;
    mask-repeat: no-repeat;
    background-color: var(--dark-gray, #2d383f);
    right: 45px;
    bottom: 10px;
  }
}
