$tablet-width: 768px;
$desktop-width: 1440px;

:root {
  --dark-gray: #2d383f;
  --base-white: #ffffff;
  --dark-blue: #0266c1;
  --disabled: #999999;

  // Переопределённые свойства для свайпера
  --swiper-pagination-bottom: 40px;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-inactive-opacity: 1;
}
