@import "swiper/css";
@import "swiper/css/pagination";

// Vendor
@import "vendor/normalize";
@import "common/variables";
@import "common/mixins";
@import "common/global";
@import "common/base";
@import "common/fonts";

// Blocks
@import "blocks/container";
@import "blocks/hero";
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/nav-menu";
@import "blocks/tours";
@import "blocks/tours-list";
@import "blocks/tours-card";
@import "blocks/slider-arrows";
@import "blocks/coaching";
@import "blocks/instructors";
@import "blocks/about";
