// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "common/vareables";
@import "common/mixins";
@import "common/global";
@import "common/base";
@import "common/fonts";

// Blocks
@import "blocks/container";
@import "blocks/swiper";
@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/nav-menu";
@import "blocks/tours";
@import "blocks/tours-list.scss";
@import "blocks/tours-card.scss";
